@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --font-family: "Manrope", sans-serif;;
    --background-color: #ffffff;

    --brand-primary: #6366F1;
    --brand-success: #22C55E;
    --linear-gradient: linear-gradient(to top, rgba(99, 102, 242, 0.10) 0%, rgba(220, 72, 239, .05) 42%, rgba(241, 244, 253, .07) 83%);

    --clr-gray-100: #F3F6FF;
    --clr-gray-200: #EFF2FC;
    --clr-gray-300: #E2E5F1;
    --clr-gray-400: #D4D7E5;
    --clr-gray-500: #B4B7C9;
    --clr-gray-600: #9397AD;
    --clr-gray-700: #565973;
    --clr-gray-800: #33354D;
    --clr-gray-900: #0B0F19;
    
    --brdr-radius-s: .25rem;
    --brdr-radius-m: .375rem;
    --brdr-radius-l: .5rem;  

    --small-text: font-size: .875rem;
    --medium-text: font-size: 1rem;
    --large-text: font-size: 1.125rem;

}

/*UTILITY START*/

.container {  
    width: 100%;  
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-inline: 1rem;


    background-color: plum;

    @media (width >= 1200px) {
        max-width: 70%;
    }
}

a:link {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: 800;
    color: var(--clr-gray-900);
}

.hidden {
    display: none;
}

/*UTILITY END*/

/*CSS START*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);   
}

header {
    .gradient-div{
        width: 100%;
        height: 100%;
        background-image: var(--linear-gradient);
    }
}

.main-nav {
    font-family: "Manrope", sans-serif;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;

    .left-nav {
        display: flex;
        flex-direction: row;

        align-items: center;
        gap: 2.9rem;

        a {
            font-family: var(--font-family);
            color: var(--clr-gray-800);
            font-size: var(--medium-text);
            font-weight: 600;
            
            & :hover {
                color: var(--brand-primary);
            }
        }
    }

    .right-nav {
        display: flex;
        flex-direction: row;

        align-items: center;
        gap: 2rem;

        .theme-toggle {
            display: flex;
            gap: 1rem;
        }

        p {
            color: var(--clr-gray-700);
            font-size: var(--medium-text);
            font-weight: 600;
        }
    }

    button > img {
        padding-right: .5rem;
    }


    #signup button{
        font-family: "Manrope", sans-serif;
        color: #ffffff;
        background-color: var(--brand-primary);
        padding-inline: 1rem;
        padding-block: .5rem;

        display: flex;
        align-items: center;

        border: none;
        border-radius: var(--brdr-radius-s);

        p {
            color: #ffffff;
            font-size: var(--large-text);
            text-shadow: 0 4px 4px #0000003b;
        }

        &:hover {
            cursor: pointer;
        }
        
    }
}

.toggle {
    --_w: 46px;
    --_h: 24px;
    --_ball-size-ratio: 1;

    width: var(--_w);
    height: var(--_h);

    position: relative;
    display: inline-block;

    input[type="checkbox"] {
        appearance: none;
    }

    .slider {
        position: absolute;
        inset: 0;

        background-color: var(--clr-gray-600);
        border-radius: 100vw;
        
        cursor: pointer;
    }

    .slider::before {
        content: '';
        position: absolute;
        height: 80%;
        aspect-ratio: 1;
        top: 2.5px;
        left: 3px;
        border-radius: 50%;
        background-color: #ffffff;
        box-shadow: 0 0 5px #00000085;

        transition: .3s;
    }

    input[type="checkbox"]:checked ~ .slider::before{
        transform: translateX(21px);
    }
}

#main {
    display: grid;
    width: 100%;
    height: 100%;
}

.main-grid {
    display: grid;
}

.discover-more {
    button {
        background-color: #ffffff;
        border-radius: 50%;
        border: none;
        height: 3rem;
        aspect-ratio: 1;
        box-shadow: 0 4.4px .75rem rgba(19, 16, 34, .06);
        box-shadow: 0 4.4px .5rem rgba(19, 16, 34, .1);

        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            cursor: pointer;
        }
    }
}

footer {
    background-color: rgb(138, 138, 255);
    height: 130px;

    display: flex;
    align-items: center;
    max-width: --var(max-width);

    p {
        font-size: var(--small-text);
        color: var(--clr-gray-600) ;
    }
}   

/*CSS END*/